body {

    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.container {

    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container: {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-list {
    display: block;
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-menu {

    display: flex;
    gap: 40px;
    padding: 24px 0 24px;
}



.logo {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.Studio {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: Underline;
    text-transform: uppercase;
    color: #2e2f42;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.navigation-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation-item:hover {
    color: #404bbf;
}

.navigation-item:focus {
    color: #404bbf;
}

.tel-mail {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address {
    display: flex;
    font-style: normal;
    margin-left: auto;
    padding: 24px 0;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.tel-mail:hover {
    color: #404BBF;
}

.tel-mail:focus {
    color: #404BBF;
}

.section-one {
    background-color: #2e2f42;
    padding: 188px 0 188px;
}

.h-one {

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    padding-top: 188px;
    padding-left: 331px;
    padding-right: 331px;
    margin-bottom: 48px;


}

.button {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: left;
    background-color: #4d5ae5;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;

}

.visually-hidden {

    margin: -1px;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.section-two {
    padding: 120px 0;
}

.section-two-list-of-advantages {
    display: flex;
    gap: 24px;
    align-items: center;

}

.strategy-list {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.strategy-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-three {

    background-color: #f4f4fd;
}

.our-team-list {
    background-color: #FFFFFF;
    margin-bottom: 32px;

}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.images-of-the-team {

    background-color: #FFFFFF;
}

.team-member {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.members-profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 32px;
}

.team-section {
    display: flex;
    gap: 24px;
    align-items: center;
}

.our-portfolio {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}



.our-portfolio-item {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-department {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {

    background-color: #2e2f42;
    padding: 100px 0 100px;
}

.studio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    line-height: 1.17
}

.footer-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;

}